# Ignore Python cache
__pycache__/
*.pyc

# Ignore Virtual Environments (if you use them)
.venv/
venv/
env/

# Ignore Audio Files (Don't upload these!)
*.wav
*.mp3
*.flac
*.zip

# Ignore the output folders
segmented_output/
segmented_clips/

# Ignore Mac system files
.DS_Store
# Ignore Model Weights (Too big for GitHub)
*.pth
*.pt
*.bin

# Ignore Audio Files
*.wav
*.mp3
*.flac
*.zip

# Ignore Output Folders
segmented_output/
pipeline_output/
input_temp/
__pycache__/
